<!DOCTYPE html>
<html>
<head>
  <title>Auto Light</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code">
  <script src="/static/index.js"></script>
</head>
<body class="centered-children">
  <div class="wrapper">
    <div class="title">Auto Light</div>
    <div class="last-updated" id="lastUpdated">Last ping null seconds ago</div>
    <input type="text" placeholder=">" autocomplete="off" spellcheck="false" id="commandLineArgument">
    <div style="font-size: 1.2em; color: #ffffff; margin: 0.2em 0 0.2em 0" id="feedback"></div>
    <div class="loading" id="loading" style="font-size: 1.5em">Fetching Data...</div>
    <div class="selection-container" id="selectionContainer"></div>
  </div>
</body>
</html>
